.grid_12
  %h3= @card.name
.clear

.grid_2
  %strong Price
  
  %h2= sprintf("$%.2f", @avg_price)

.grid_5
  = @card_prices.to_line_chart(:title => 'Price per day (rolling month)')

.grid_5
  = @card_xtns.to_line_chart(:title => 'Sales per day (rolling month)')

.clear

.grid_6
  %p
    %strong Name:
    = @card.name
  %p
    %strong Set:
    = @card.set_name
  %p
    %strong Casting Cost:
    = @card.casting_cost
  %p
    %strong Power/Toughness:
    = @card.pow_tgh
  %p
    %strong Type:
    = @card[:type]
  %p
    %strong Rarity:
    = @card.rarity
  %p
    %strong Rules Text:
    = @card.rules_text

.grid_6
  - if File.exists?(@card.picture)
    %img{ :src => @card.picture }

.clear &nbsp;
.grid_12
  = @auctions_matched_to_card.to_table(:title => "Auctions associated with this card")
