- @title = @card.name
.grid_3
  %h1.card_name= @card.name
.grid_9
  %h3= sprintf("$%.2f", @card_price)
.clear

.grid_3
  - if File.exists?(settings.public_folder + @card.picture)
    %img{ :src => @card.picture }

.grid_9
  %table.card_info
    %tbody
      %tr
        %td.header Name:
        %td= @card.name
      %tr
        %td.header Set:
        %td= @card.cardset.name
      %tr
        %td.header Casting Cost:
        %td= @card.casting_cost
      %tr
        %td.header Power/Toughness:
        %td= @card.pow_tgh
      %tr
        %td.header Type:
        %td= @card[:card_type]
      %tr
        %td.header Rarity:
        %td= @card.rarity
      %tr
        %td.header Rules Text:
        %td= simple_format @card.rules_text
.clear
.grid_6
  = @card_prices.to_line_chart(:title => 'Price per day (rolling month)')

.grid_6
  = @card_xtns.to_line_chart(:title => 'Sales per day (rolling month)')
.clear

.grid_12
  = to_js_table @auctions_matched_to_card, :title => "Auctions associated with this card"
