

%h3= @card.name

%div{ :style => "float: right" }
  #my_chart

%strong Price

%h2= sprintf("%.2f", @avg_price)


%div{ :style=>"width: 25%" }
  %p
    %strong Set:
    = @card.set_name
  %p
    %strong Casting Cost:
    = @card.casting_cost
  %p
    %strong Power/Toughness:
    = @card.pow_tgh
  %p
    %strong Type:
    = @card.type
  %p
    %strong Rarity:
    = @card.rarity
  %p
    %strong Rules Text:
    = @card.rules_text

%div
  = render_dataset("Auctions associated with this card", @auctions_matched_to_card)
