%h3= @card.name

%strong Price as of 12/30/2008

%h2= sprintf("%.2f", @avg_price)

%div
  %p
    %strong Set:
    = @card.set_name
  %p
    %strong Casting Cost:
    = @card.casting_cost
  %p
    %strong Type:
    = @card.type
  %p
    %strong Rarity:
    = @card.rarity

#my_chart

%div
  = render_dataset("Auctions associated with this card", @auctions_matched_to_card)
