- @title = "Search Results"

%div
  = search_box()

- if @cards then
  %div{ :style => "text-align: right" }= sprintf("Results 1 - %s of %s", @cards.length < 10 ? @cards.length : "10", @cards.length)
  %table
    %thead
      %th Name
      %th Set
      %th Casting Cost
    - @cards.each do |c|
      %tr
        %td
          %a{ :href => "/card/#{c.id}" }= c.name
        %td
          = c.set_name
        %td
          = c.casting_cost ? c.casting_cost : ''
        